@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.btn-navbarlink {
  color: #444444;
  background-color: white;
  border: none;
}

.btn-navbarlink:hover {
  color: #1AB394;
  background-color: white;
  border: none;
}

.btn-navbarlinkselected {
  color: #1AB394;
  border: none;
}

.btn-navbarlinkselected:hover {
  color: #1AB394;
  background-color: white;
  border: none;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  overflow-X: hidden;
}

::-moz-selection {
  background-color: #1AB394;
  color: white;
}

::selection {
  background-color: #1AB394;
  color: white;
}

.type-wrap {
  font-size: 3rem;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .type-wrap {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .type-wrap {
    font-size: 1.5rem;
  }
}

.colorAccent {
  color: #1AB394;
}

a.colorAccent:hover {
  color: #069478;
  text-decoration: none;
}

.header-topbar-visible {
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  margin-bottom: 0px;
  z-index: 2000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-topbar-hidden {
  position: relative;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  margin-bottom: -40px;
  z-index: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title, .title-md, .title-sm, .title-xs {
  font-family: 'Arial', sans-serif;
  font-weight: bolder;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url("./Images/fleets-logo.svg");
  background-size: cover;
}

.title-md {
  width: 160px;
  height: 72px;
}

.title-sm {
  width: 120px;
  height: 54px;
}

.title-xs {
  width: 80px;
  height: 36px;
}

.header, .header-sticky {
  z-index: 50;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-sticky {
  -webkit-box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
          box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
}

#languageSelectMenu {
  border: 1px solid red;
}

.navbar-container {
  height: 110px;
}

.headerNavbarLink {
  background-color: transparent;
}

.headerNavbarLink:hover {
  color: #1AB394;
  background-color: transparent;
  border: none;
}

.headerNavbarLink .dropdown-toggle:after {
  content: none;
}

.dropdown-menu {
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
          box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(38px);
          transform: translateY(38px);
}

.show {
  opacity: 1;
}

.fontPoppins {
  font-family: "Poppins", Helvetica, sans-serif;
}

.fontPoppinsSmall {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 0.8rem;
}

.fontPoppinsGray {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #555555;
}

.headerDropdownItem {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.headerDropdownItem:hover {
  opacity: 1;
}

.buttonAccent, .buttonAccentLight, .buttonAccentLightSmall, .buttonAccentLightCircle, .buttonBackToTop, .btn-accent {
  background-color: #1AB394;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttonAccent .dropdown-toggle:after, .buttonAccentLight .dropdown-toggle:after, .buttonAccentLightSmall .dropdown-toggle:after, .buttonAccentLightCircle .dropdown-toggle:after, .buttonBackToTop .dropdown-toggle:after, .btn-accent .dropdown-toggle:after {
  content: none;
}

.buttonAccent:hover, .buttonAccentLight:hover, .buttonAccentLightSmall:hover, .buttonAccentLightCircle:hover, .buttonBackToTop:hover, .btn-accent:hover {
  color: white;
  background-color: #069478;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 0px 5px 15px 0px #dbdbdb;
          box-shadow: 0px 5px 15px 0px #dbdbdb;
}

.buttonAccent:active, .buttonAccentLight:active, .buttonAccentLightSmall:active, .buttonAccentLightCircle:active, .buttonBackToTop:active, .btn-accent:active {
  background-color: #006e58;
}

.buttonAccentLight, .buttonAccentLightSmall, .buttonAccentLightCircle {
  background-color: #3bebc7;
  color: #069478;
}

.buttonAccentLightSmall {
  font-size: 0.8rem;
}

.buttonAccentLightCircle {
  border-radius: 25px;
}

.buttonBackToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  width: 50px;
  height: 50px;
}

#buttonBackToTopHidden {
  opacity: 0;
  -webkit-animation: fadeOut 0.4s 1;
          animation: fadeOut 0.4s 1;
}

#buttonBackToTopHidden:hover {
  opacity: 1;
}

.buttonGray {
  background-color: #777777;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttonGray:hover {
  color: white;
  background-color: #444444;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 5px 15px 0px #dbdbdb;
          box-shadow: 0px 5px 15px 0px #dbdbdb;
}

.h3Accent {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #1AB394;
}

.h3Black {
  font-family: "Poppins", Helvetica, sans-serif;
  color: black;
}

.cardParagraph {
  font-family: "Poppins", Helvetica, sans-serif;
}

.cardSmall {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px -6px rgba(154, 164, 177, 0.66);
          box-shadow: 0px 0px 24px -6px rgba(154, 164, 177, 0.66);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.cardSmall:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: #d4fff6;
}

.parallaxContTextbox {
  top: 150px;
  z-index: 10;
}

.parallax-top {
  z-index: 10;
  background-image: url("./Images/parallax-container-edge.svg");
  height: 100px;
  -webkit-transform: scaleY(-1) scaleX(-1);
          transform: scaleY(-1) scaleX(-1);
}

.parallax-bottom {
  z-index: 10;
  background-image: url("./Images/parallax-container-edge.svg");
  height: 100px;
  bottom: 0%;
}

.parallaxContHeader {
  color: white;
  font-weight: 600;
  font-size: 3rem;
}

@media screen and (max-width: 992px) {
  .parallaxContHeader {
    font-size: 2rem;
  }
}

.parallaxContHeader2 {
  font-family: "Poppins", Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;
}

.parallaxContButton {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.parallaxContButton:hover {
  background-color: white;
  color: #444444;
}

.containerStyle {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 500px;
  max-height: 500px;
}

.sliderDot {
  display: block;
  border-radius: 10px;
  border: none;
  margin: -10px 0px;
  background-color: white;
}

.slider {
  min-height: 350px;
  height: 80vh;
}

@media (max-width: 992px) {
  .slider {
    height: 50vh;
  }
}

.slideContainer {
  height: 100%;
}

.slide {
  height: 100%;
}

.sliderImg {
  position: absolute;
  display: block;
  width: auto;
  right: 50%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 992px) {
  .sliderImg {
    position: relative;
    margin: auto;
    right: 0px;
  }
}

.sliderTextDivDesktop {
  font-family: "Poppins", Helvetica, sans-serif;
  left: 50%;
}

.sliderTextDivMobile {
  font-family: "Poppins", Helvetica, sans-serif;
  right: 0%;
}

.imageStyle {
  margin: auto;
  width: 100%;
  height: auto;
}

.footerContainer {
  background-color: #f8f9fa;
}

.footerHeader {
  color: #444444;
}

.footerEnd {
  color: #777;
}

.listElementFooter {
  font-size: 0.9rem;
  color: #777777;
}

.listElementFooter:hover {
  color: #1AB394;
  cursor: pointer;
}

#hidden {
  opacity: 0;
}

#fadingIn {
  -webkit-animation: fadeIn 0.4s 1 forwards;
          animation: fadeIn 0.4s 1 forwards;
}

#fadingOut {
  opacity: 0;
  -webkit-animation: fadeOut 0.4s 1 forwards;
          animation: fadeOut 0.4s 1 forwards;
}

#slidingLeft {
  -webkit-animation: slideInLeft 1s 1;
          animation: slideInLeft 1s 1;
}

#slidingRight {
  -webkit-animation: slideInRight 1s 1;
          animation: slideInRight 1s 1;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideInTopNavbar {
  0% {
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideInTopNavbar {
  0% {
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=App.css.map */