:root {
    --blue: #4285F4;
    --indigo: #533be2;
    --purple: #4c2c92;
    --pink: #f92084;
    --red: #f64e60;
    --orange: #fd7e14;
    --yellow: #fad776;
    --green: #6dbb30;
    --teal: #20c997;
    --cyan: #73e7f7;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #4285F4;
    --secondary: #6c757d;
    --success: #6dbb30;
    --info: #73e7f7;
    --warning: #fad776;
    --danger: #f64e60;
    --light: #f8f9fa;
    --dark: #2E2E2E;
    --indigo: #533be2;
    --purple: #4c2c92;
    --pink: #f92084;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Roboto, "Poppins", "Source Sans Pro", "Muli", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

html{
    font-family: var(--font-family-sans-serif);
}

nav{
    display: flex;
    flex-direction: column;
}