@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.btn-navbarlink {
  color: #444444;
  background-color: white;
  border: none;
}

.btn-navbarlink:hover {
  color: #1AB394;
  background-color: white;
  border: none;
}

.btn-navbarlinkselected {
  color: #1AB394;
  border: none;
}

.btn-navbarlinkselected:hover {
  color: #1AB394;
  background-color: white;
  border: none;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  overflow-X: hidden;
}

::-moz-selection {
  background-color: #1AB394;
  color: white;
}

::selection {
  background-color: #1AB394;
  color: white;
}

.type-wrap {
  font-size: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .type-wrap {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .type-wrap {
    font-size: 1.1rem;
  }
}

.colorAccent {
  color: #1AB394;
}

.title, .title-md, .title-sm {
  font-family: 'Arial', sans-serif;
  font-weight: bolder;
  background-image: url("./Images/fleets-logo.svg");
  background-size: cover;
}

.title-md {
  width: 160px;
  height: 72px;
}

.title-sm {
  width: 120px;
  height: 54px;
}

.headerNavbarLink:hover {
  color: #1AB394;
  background-color: white;
  border: none;
}

.dropdown-menu {
  -webkit-box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
          box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.show {
  opacity: 1;
  z-index: 100;
}

.fontPoppins {
  font-family: "Poppins", Helvetica, sans-serif;
}

.fontPoppinsSmall {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 0.8rem;
}

.fontPoppinsGray {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #555555;
}

.headerDropdownItem {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.headerDropdownItem:hover {
  opacity: 1;
}

.buttonAccent, .buttonAccentLight, .buttonAccentLightSmall, .buttonAccentLightCircle {
  background-color: #1AB394;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttonAccent:hover, .buttonAccentLight:hover, .buttonAccentLightSmall:hover, .buttonAccentLightCircle:hover {
  color: white;
  background-color: #127561;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 5px 15px 0px #dbdbdb;
          box-shadow: 0px 5px 15px 0px #dbdbdb;
}

.buttonAccentLight, .buttonAccentLightSmall, .buttonAccentLightCircle {
  background-color: #3bebc7;
  color: #0a4035;
}

.buttonAccentLightSmall {
  font-size: 0.8rem;
}

.buttonAccentLightCircle {
  border-radius: 25px;
}

.buttonGray {
  background-color: #777777;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttonGray:hover {
  color: white;
  background-color: #444444;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 5px 15px 0px #dbdbdb;
          box-shadow: 0px 5px 15px 0px #dbdbdb;
}

.h3Accent {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #1AB394;
}

.h3Black {
  font-family: "Poppins", Helvetica, sans-serif;
  color: black;
}

.cardParagraph {
  font-family: "Poppins", Helvetica, sans-serif;
}

.parallaxContTextbox {
  top: -270px;
}

.parallaxContHeader {
  color: white;
}

.parallaxContHeader2 {
  font-family: "Poppins", Helvetica, sans-serif;
  color: white;
}

.parallaxContButton {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

.sliderDot {
  display: block;
  border-radius: 10px;
  border: none;
  margin: -10px 0px;
  background-color: white;
}

.slider {
  min-height: 350px;
  height: 80vh;
}

@media (max-width: 992px) {
  .slider {
    height: 50vh;
  }
}

.slideContainer {
  height: 100%;
}

.slide {
  height: 100%;
}

.sliderImg {
  position: absolute;
  display: block;
  width: auto;
  right: 50%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 992px) {
  .sliderImg {
    position: relative;
    margin: auto;
    right: 0px;
  }
}

.sliderTextDivDesktop {
  font-family: "Poppins", Helvetica, sans-serif;
  left: 50%;
}

.sliderTextDivMobile {
  font-family: "Poppins", Helvetica, sans-serif;
  right: 0%;
}

.containerStyle {
  overflow-y: hidden;
  width: 100%;
  max-height: 400px;
}

.imageStyle {
  margin: auto;
  width: 100%;
  height: auto;
}

#hidden {
  opacity: 0;
}

#slidingLeft {
  -webkit-animation: slideInLeft 1s 1 forwards;
          animation: slideInLeft 1s 1 forwards;
}

#slidingRight {
  -webkit-animation: slideInRight 1s 1 forwards;
          animation: slideInRight 1s 1 forwards;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */