@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$accentColorLight2: #73ffe2;
$accentColorLight1: #3bebc7;
$accentColor: #1AB394;
$accentColorDark1: #127561;
$accentColorDark2: #0a4035;


body{
    overflow-X: hidden;
}

.type-wrap{
    font-size: 2rem;

    @media screen and (min-width: 768px) and (max-width: 1440px){
        font-size: 1.5rem;
    }

    @media screen and (max-width: 768px){
        font-size: 1.1rem;
    }
}

#hidden{
    opacity: 0;
}

#slidingLeft{
    animation: slideInLeft 1s 1 forwards;
}

#slidingRight{
    animation: slideInRight 1s 1 forwards;
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideInRight{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}