@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

//colors used for buttons,

$accentColorLight3: #d4fff6;
$accentColorLight2: #73ffe2;
$accentColorLight1: #3bebc7;
$accentColor: #1ab394;
$accentColorDark1: #069478;
$accentColorDark2: #006e58;

//logo sizes for multiple view sizes

$logo-width-3: 160px;
$logo-width-2: 120px;
$logo-width-1: 80px;

.btn-navbarlink {
  color: #444444;
  background-color: white;
  border: none;

  &:hover {
    color: $accentColor;
    background-color: white;
    border: none;
  }
}

.btn-navbarlinkselected {
  color: $accentColor;
  border: none;

  &:hover {
    color: $accentColor;
    background-color: white;
    border: none;
  }
}

//=============================================================================

body {
  font-family: "Poppins", Helvetica, sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: $accentColor;
  color: white;
}

.type-wrap {
  font-size: 3rem;

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.colorAccent {
  color: $accentColor;
}

a.colorAccent {
  &:hover {
    color: $accentColorDark1;
    text-decoration: none;
  }
}

//HEADER

.header-topbar-visible {
  font-size: 14px;
  position: relative;
  transform: translateY(0);
  margin-bottom: 0px;

  z-index: 2000;
  transition: 0.3s;
}

.header-topbar-hidden {
  position: relative;
  transform: translateY(-50px);
  margin-bottom: -40px;

  z-index: 0;
  transition: 0.3s;
}

.title {
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  transition: 0.3s;

  background-image: url("./Images/fleets-logo.svg");
  background-size: cover;
}

.title-md {
  @extend .title;

  width: $logo-width-3;
  height: ($logo-width-3 * 0.45);
}

.title-sm {
  @extend .title;

  width: $logo-width-2;
  height: ($logo-width-2 * 0.45);
}

.title-xs {
  @extend .title;

  width: $logo-width-1;
  height: ($logo-width-1 * 0.45);
}

.header {
  z-index: 50;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0px;
  transition: 0.5s;
}

.header-sticky {
  @extend .header;

  box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
}

#languageSelectMenu {
  border: 1px solid red;
}

.navbar-container {
  height: 110px;
}

.headerNavbarLink {
  background-color: transparent;

  &:hover {
    color: $accentColor;
    background-color: transparent;
    border: none;
  }

  .dropdown-toggle:after {
    content: none;
  }
}

.dropdown-menu {
  border-radius: 0px;
  box-shadow: 0px 0px 24px -6px rgba(82, 91, 102, 0.66);
  opacity: 0;
  transition: 0.3s;
  transform: translateY(38px);
}

.show {
  opacity: 1;
}

.fontPoppins {
  font-family: "Poppins", Helvetica, sans-serif;
}

.fontPoppinsSmall {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 0.8rem;
}

.fontPoppinsGray {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #555555;
}

.fontPoppinsLightGray {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #999999;
}

.headerDropdownItem {
  transition: 0.3s;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.buttonAccent {
  background-color: $accentColor;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.4s;

  .dropdown-toggle:after {
    content: none;
  }

  &:hover {
    color: white;
    background-color: $accentColorDark1;
    transform: translateY(-6px);
    box-shadow: 0px 5px 15px 0px rgba(219, 219, 219, 1);
  }

  &:active {
    background-color: $accentColorDark2;
  }
}

.buttonAccentLight {
  @extend .buttonAccent;

  background-color: $accentColorLight1;
  color: $accentColorDark1;
}

.buttonAccentLightSmall {
  @extend .buttonAccentLight;

  font-size: 0.8rem;
}

.buttonAccentLightCircle {
  @extend .buttonAccentLight;

  border-radius: 25px;
}

.buttonBackToTop {
  @extend .buttonAccent;

  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;

  width: 40px;
  height: 40px;
  padding: 0px;
}

#buttonBackToTopHidden {
  opacity: 0;
  animation: fadeOut 0.4s 1;

  &:hover {
    opacity: 1;
  }
}

.buttonGray {
  background-color: #777777;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.4s;

  &:hover {
    color: white;
    background-color: #444444;
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px 0px rgba(219, 219, 219, 1);
  }
}

.btn-accent {
  @extend .buttonAccent;
}

.h3Accent {
  font-family: "Poppins", Helvetica, sans-serif;
  color: $accentColor;
}

.h3Black {
  font-family: "Poppins", Helvetica, sans-serif;
  color: black;
}

.cardParagraph {
  font-family: "Poppins", Helvetica, sans-serif;
}

.cardSmall {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 24px -6px rgba(154, 164, 177, 0.66);
  transition: 0.3s;
  transform: translateY(0px);

  &:hover {
    transform: translateY(-10px);
    background-color: $accentColorLight3;
  }
}

.cardSmall-topleft {
  @extend .cardSmall;

  &:hover {
    transform: translateX(-10px);
    background-color: #ffc3c3;
  }
}

.cardSmall-topright {
  @extend .cardSmall;

  &:hover {
    transform: translateX(10px);
    background-color: #feffae;
  }
}

.cardSmall-bottomleft {
  @extend .cardSmall;

  &:hover {
    transform: translateX(-10px);
    background-color: #ceffb1;
  }
}

.cardSmall-bottomright {
  @extend .cardSmall;

  &:hover {
    transform: translateX(10px);
    background-color: #aefff8;
  }
}

.explore-container {
  display: block;
  position: relative;
  width: 120px;

  transition: 0.3s;

  &:hover {
    width: 125px;
  }
}

.explore-arrow {
  position: absolute;
  right: 0px;
  margin: 3px;
}

//PARALLAX CONTAINER

.parallaxContTextbox {
  top: 150px;
  z-index: 10;

  .parallaxContTextboxButtonContainer {
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  @media screen and (max-width: 768px) {
    top: 100px;
  }
}

.parallax-top {
  z-index: 10;
  background-image: url("./Images/parallax-container-edge.svg");
  height: 100px;
  transform: scaleY(-1) scaleX(-1);

  background-repeat: no-repeat;
}

.parallax-bottom {
  z-index: 10;
  background-image: url("./Images/parallax-container-edge.svg");
  height: 100px;
  bottom: 0%;

  background-repeat: no-repeat;
}

.parallaxContHeader {
  color: white;
  font-weight: 600;
  font-size: 3rem;

  @media screen and (min-width: 769px) and (max-width: 992px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.parallaxContHeader2 {
  font-family: "Poppins", Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;

  @media screen and (min-width: 769px) and (max-width: 992px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.parallaxContButton {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 600;

  &:hover {
    background-color: white;
    color: #444444;
  }
}

.containerStyle {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 500px;
  max-height: 500px;

  @media screen and (max-width: 768px) {
    height: 300px;
    max-height: 300px;
  }

}

//SLIDER

.sliderDot {
  display: block;
  border-radius: 10px;
  border: none;

  margin: -10px 0px;
  background-color: white;
}

.slider {
  min-height: 350px;
  height: 80vh;

  @media (max-width: 992px) {
    height: 50vh;
  }
}

.slideContainer {
  height: 100%;
}

.slide {
  position: relative;
  height: 100%;
}

.sliderImg {
  position: absolute;
  display: block;
  width: auto;
  right: 50%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;

  img {
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    margin: auto;
    padding: 0px;
  }

  @media (max-width: 992px) {
    position: relative;
    margin: auto;
    right: 0px;
    left: 0px;
  }
}

.sliderTextDivDesktop {
  font-family: "Poppins", Helvetica, sans-serif;
  left: 50%;
}

.sliderTextDivMobile {
  font-family: "Poppins", Helvetica, sans-serif;
  right: 0%;
}

.imageStyle {
  margin: auto;
  width: 100%;
  height: auto;
}

.footerContainer {
  background-color: #f8f9fa;
}

.footerHeader {
  color: #444444;
}

.footerEnd {
  color: #777;
}

.listElementFooter {
  font-size: 0.9rem;
  color: #777777;

  &:hover {
    color: $accentColor;
    cursor: pointer;
  }
}

//ANIMATION
#hidden {
  opacity: 0;
}

#fadingIn {
  animation: fadeIn 0.4s 1 forwards;
}

#fadingOut {
  opacity: 0;
  animation: fadeOut 0.4s 1 forwards;
}

#slidingLeft {
  animation: slideInLeft 1s 1;
}

#slidingRight {
  animation: slideInRight 1s 1;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInTopNavbar {
  0% {
    transform: translateY(-110px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
